################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FramerateConverter/obj
/FramerateConverter/bin
/FramerateConverter/master
/*.user
/packages
